adf-projetobloco-bigdata/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-projetobloco-bigdata"
		},
		"dbck_cluster_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'dbck_cluster'"
		},
		"jobs_dbck_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'jobs_dbck'"
		},
		"dbck_cluster_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0610-035811-yos1n10x"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/batch_kaggle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestion_raw_kaggle",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/matheus.boliveira@al.infnet.edu.br/Projeto-de-Bloco-Big-Data-2025/ingest_kaggle_raw"
						},
						"linkedServiceName": {
							"referenceName": "dbck_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "kaggle_trusted",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ingestion_raw_kaggle",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/matheus.boliveira@al.infnet.edu.br/Projeto-de-Bloco-Big-Data-2025/kaggle_trusted"
						},
						"linkedServiceName": {
							"referenceName": "dbck_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-06-11T02:17:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dbck_cluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbck_cluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-246843388081552.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('dbck_cluster_accessToken')]"
					},
					"existingClusterId": "[parameters('dbck_cluster_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jobs_dbck')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-246843388081552.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('jobs_dbck_accessToken')]"
					},
					"newClusterNodeType": "Standard_D4ds_v4",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "15.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_kaggle')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "1/week",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "batch_kaggle",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2025-06-09T23:00:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								3
							],
							"hours": [
								23
							],
							"weekDays": [
								"Tuesday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/batch_kaggle')]"
			]
		}
	]
}